    <script>
        var lastUpdate = "<%- lastUpdate %>";
    </script>
    <% include ../Page_Header.html %>
    <!--Main layout-->
    <main>

        <div class="container-fluid">
         <article class="content cards-page">
	    <section class="section">
                <div class="row">
                   <!--Chart One-->
                    <div class="col">
    			    <nav class="navbar navbar-toggleable-md navbar-expand-lg scrolling-navbar">    
				<ul class="nav navbar-nav mx-auto">
					<li> <div class="input-group mb-5">
					<!--	<div class="input-group-prepend"><span class="input-group-text">Prefix Selected :</span> </div> -->
						<span class="nav-link  clearfix d-none d-sm-inline-block">Selected Prefix: </span> &nbsp; &nbsp;&nbsp; &nbsp;
                    				<input type="text" class="form-control" id="Prefix" aria-label="Default" aria-describedby="inputGroup-sizing-default">
					    </div> &nbsp; &nbsp;&nbsp; &nbsp;
					</li> &nbsp; &nbsp;&nbsp; &nbsp;
                	   		<li><button type="submit" class="btn btn-primary btn-md" onclick=prefix_ROV()>ROV Changes </button></li>
				</ul>
				
			     </nav>
	            </div>
	         </div>
	    </section>            
           </article>
           <div style="height:500px"></div>
        </div>        
    </main>
    <!--/Main layout-->
  
    <script>

        function prefix_ROV()
        {
		var prefix  = document.getElementById("Prefix").value;
		prefix = prefix.toLowerCase();
                if(prefix == "")
                {
                        alert("Prefix must be filled out");
                }
                else
                {
			prefix = prefix.replace("/", "|");
                        window.location.href= '/PrefixOVal/'+prefix;
                }
        }
    </script>

    <!-- SCRIPTS -->
    <% include ../Footer.html %>

